footer.mt-4
    .container.py-4.text-center
        h3 Technovation Girls Tm
        p Wish to join the community? Teams, Mentors &amp; Ambassadors are welcome to apply:
        a.btn.btn-success.text-decoration-none(href="http://bit.ly/technovationgirlstm") Register your interest
        .social
            a(target="_blank", href="https://www.facebook.com/Technovation-Girls-Turkmenistan-100447435763157/", aria-label="Technovation Girls Tm facebook")
                i.fa-brands.fa-facebook
            a(target="_blank", href="https://twitter.com/TechnovationTM", aria-label="Technovation Girls Tm twitter")
                i.fa-brands.fa-twitter
            a(target="_blank", href="https://instagram.com/technovation.tm/", aria-label="Technovation Girls Tm instagram")
                i.fa-brands.fa-instagram
            a(target="_blank", href="https://www.youtube.com/channel/UCdYgP2a5j4stAikr0z5-HYQ", aria-label="Technovation Girls Tm youtube")
                i.fa-brands.fa-youtube
            a(target="_blank", href="https://www.linkedin.com/company/technovation-girls-turkmenistan", aria-label="Technovation Girls Tm linkedin")
                i.fa-brands.fa-linkedin
            a(target="_blank", href="mailto:technovation.tm@gmail.com", aria-label="Technovation Girls Tm email address")
                i.fa-regular.fa-envelope