$primary-color: #181E1C;
$secondary-color: #212944;
$tint-color: #657485;
$link-color: #2D77B2;
$background-color: #FBFAF9;
$footer-background: #dee2e6;

$headers-font-family: Montserrat, sans-serif;
$primary-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$banner-height: 600;