@import 'variables';
@import 'bootstrap';
:root {
    font-family: $primary-font-family;
    line-height: 1.5;
    font-weight: 400;

    color: $primary-color;
    background-color: $background-color;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: $link-color;
    text-decoration: inherit;

    &:hover {
        color: rbg($link-color, .88);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headers-font-family;
}